.text {
  position: fixed;
  top: 80px;
  left: 7%;
  font-size: 0.7rem;
  font-family: monospace;
  width: fit-content;
  color: antiquewhite;
  border: 1px antiquewhite solid;
  padding: 2px 10px;
  border-radius: 3px;
}
