/* footer */
.footer-space {
  margin-top: 500px;
  margin-bottom: 300px;
}

.footer-text {
  margin-top: 1px;
  font-size: 0.8rem;
  font-family: monospace;
  color: firebrick;
  border-bottom: solid 2px firebrick;
}
